<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="SupplySync_menu_root"
              name="SupplySync"
              web_icon="supplysync,static/description/icon.png"
              sequence="0"/>

    <menuitem id="SupplySync_submenu_forecast"
              name="Forecast"
              parent="SupplySync_menu_root"
              action="action_supplysync_sku"
              sequence="1"/>

    <menuitem id="SupplySync_submenu_modeltrain"
              name="Model Training"
              parent="SupplySync_menu_root"
              action="action_supplysync_forecast"
              sequence="2"/>
</odoo>